.mainCanvas{
	top:0; left:0;
}
.controls {
	position:absolute; bottom:0; left:0;
}

.contents{
	position:absolute;top:0;right:0;border-style:solid;border-width:2px;background-color:white; overflow-x:hidden;overflow-y:scroll;max-height:75%;
}

.contentsHead{
	background-color:#FFFFF3;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.contentParent{

}

.contentItem{
	cursor:move;border-style:solid;border-width:1px;padding-right:2px;padding-left:2px;padding-top:1px;float:left;
}

.contentSideItem{
	padding-right:2px;padding-right:2px;border-style:solid;border-width:1px;padding-top:1px;float:right;
}